# Dependencies
node_modules
.pnp
.pnp.js
.bun

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
*.pem

# Logs
logs
*.log

# Docker
.docker/

# Misc
.cache
.temp 